.file {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--btn-txt-color);

    // &.active {
    //     background-color: var(--text-color);
    //     color: var(--btn-txt-color);
    // }
}